# ignore .el files: tangled from .org files
*.el

# .el files we want to keep
!init.el
!functions.el
!elisp/*.el

# ignoring tangled sh
*.sh

# hidden files
.*

# ignoring emacs temp files
*~
\#*#
projectile-bookmarks.eld
bookmarks
projectile.cache

# package management
straight/
quelpa/
elpa/
server/

# ignoring other emacs stuff
recentf
auto-save-list

# restclient?
/url
/tramp
