# no .el files except for init.el
# this is because the .org files expand to .el files
*.el
!init.el

# ignoring emacs temp files
*~
\#*#
projectile-bookmarks.eld
bookmarks
projectile.cache

# package management
straight/
quelpa/

# ignoring other emacs stuff
recentf
auto-save-list
elpa
